<template>
  <section>
    <h1>Hello {{ uname }}!</h1>
    <img :src="pic" alt="">
    <a href="/subpage">Subpage</a>
  </section>
</template>

<script>
module.exports = {
  data: function() {
    return {
      uname: 'Tomato',
      pic: '/assets/img/cat.jpg'
    };
  }
}
</script>

<style scoped>
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
</style>
