<!DOCTYPE html>
<html lang="hu">
<head>
	<meta charset="UTF-8">
	<title>Teszt</title>
	<link rel="stylesheet" href="<?= $asset('app-style.css') ?>">
	<link rel="stylesheet" href="<?= $asset("$page.css") ?>">
	<script src="<?= $asset("$page.js") ?>" defer></script>
</head>
<body>
	<main></main>
</body>
</html>
